*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #9432ba,#65178f,#4e18a7,#1e0fa8,#3708b9,#5b08b9);
    background-size: 300% 300%;
    animation: color 20s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}